:root {
    --side: 70px
}

.heart {
    width: var(--side);
    height: var(--side);
    background-color: #961d1d;

    position: fixed;
    top: 50%;
    left: 50%;
}

.heart::before {
    content: '';

    width: var(--side);
    height: var(--side);
    border-radius: 50%;

    position: absolute;
    top: -50%;
    background-color: inherit;
}
